.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6%;
}

.row .column1 {
  padding-right: 50px;
}

.column1 h1 {
  font-size: 45px;
  margin-bottom: 10px;
}

.column1 p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.column1 button {
  width: 150px;
  padding: 12px 20px;
  border-radius: 15px;
  border-style: none;
  background-color: #f7d656;
  color: rgb(26, 11, 6);
  font-size: 17px;
  font-weight: 600;
  transition: 0.3s ease-in;
  box-shadow: 0 2px 5px #ccc;
}

.btn:hover {
  background-color: #f7e392;
  cursor: pointer;
}

/* HEADER CONTENT RESPONSIVE */
@media screen and (max-width: 980px) {
  .column2 img {
    width: 350px;
  }

  .column1 h1 {
    font-size: 40px;
  }

  .column1 p {
    font-size: 17px;
  }
  .row {
    margin-top: 80px;
  }
}

@media screen and (max-width: 600px) {
  .column1 h1 {
    font-size: 35px;
  }
  .row {
    flex-direction: column;
  }
  .row .column1 {
    padding: 30px;
  }
}
